# Libraries to use

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium import webdriver
from selenium.webdriver.support.ui import Select

import requests
from bs4 import BeautifulSoup
import re as re
import time
import pandas as pd
import numpy as np

import pymysql
import sqlalchemy as alch
from sqlalchemy import create_engine
from getpass import getpass

import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.corpus import stopwords

from wordcloud import WordCloud
from langdetect import detect
from textblob import TextBlob

# Import Al-Jazeera file and creating the DF

In [13]:
import src.aljazeera as aj

In [14]:
lst_aj = aj.get_aljazeera() # obtaining all the links of ukraine news

In [15]:
dict_aj = aj.create_dict_aj(lst_aj) # creating a dictionary with links and content

In [16]:
df_aj_descr= aj.descriptives(dict_aj) # counts words 'ukraine','war','russia','putin','zelensky' and sentimental analysis.

In [17]:
df_aj= aj.create_df_aj(dict_aj) # creates a DataFrame with the links and articles, transposing and creating a new index

In [18]:
df_aj_all =df_aj.join(df_aj_descr) #join both DF

In [19]:
df_aj_all.to_csv('data/aljazeera.csv') #save data into a file

In [20]:
df_aj_all.sample()

,link,article,polarity,subjectivity,length,ukraine,war,russia,putin,zelensky
28,https://www.aljazeera.com/news/2023/2/23/russi...,Here is the situation as it stands on Thursday...,0.03125,0.27655,3962,6,4,17,2,0

# Import BBC file and creating a DF

In [2]:
import src.bbc as bbc

In [3]:
lst_bbc_ukr = bbc.get_bbc() # obtaining all the links of ukraine news

In [4]:
dict_article_bbc = bbc.bbc_list(lst_bbc_ukr) # creating a dictionary with links and content

In [5]:
df_descriptive = bbc.descriptives(dict_article_bbc) # counts words 'ukraine','war','russia','putin','zelensky' and sentimental analysis.

In [6]:
df_bbc = bbc.create_df_bbc(dict_article_bbc) # creates a DataFrame with the links and articles, tansposing and creating a new index

In [9]:
df_bbc_together = df_bbc.join(df_descriptive)#join both DF
df_bbc_together.to_csv('data/bbc.csv')
df_bbc_together.sample()

,link,article,polarity,subjetivity,length,ukraine,war,russia,putin,zelensky
61,https://www.bbc.co.uk/news/world-europe-64678844,"Ukraine War: ´Everyone is kind, but the fact i...",0.08026,0.38072,9630,17,18,14,1,0

# SQL

## Getting into MySQL server and saving the data in tables

In [11]:
password = getpass("MySQL password: ")
dbName = "journals"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)
df_bbc_together.to_sql('bbc', con=engine)

MySQL password: ········

201

In [21]:
df_aj_all.to_sql('aljazeera', con=engine)

204

## Queries