In [2]:
import pandas as pd
import datetime as dt
import pandas_datareader.data as web
import requests
import json
from pandas import json_normalize
from pyaxis import pyaxis
import pandasdmx

url='https://stats.oecd.org/SDMX-JSON/data/BLI/AUS+AUT+BEL+CAN+CHL+COL+CRI+CZE+DNK+EST+FIN+FRA+DEU+GRC+HUN+ISL+IRL+ISR+ITA+JPN+KOR+LVA+LTU+LUX+MEX+NLD+NZL+NOR+POL+PRT+SVK+SVN+ESP+SWE+CHE+TUR+GBR+USA+OECD.JE_LMIS+JE_EMPL+SC_SNTWS+ES_EDUA+CG_SENG+HS_LEB+SW_LIFS+PS_REPH+WL_EWLH.L.TOT/all?'
url_1= 'https://stats.oecd.org/SDMX-JSON/data/BLI/AUS+AUT+BEL+CAN+CHL+COL+CRI+CZE+DNK+EST+FIN+FRA+DEU+GRC+HUN+ISL+IRL+ISR+ITA+JPN+KOR+LVA+LTU+LUX+MEX+NLD+NZL+NOR+POL+PRT+SVK+SVN+ESP+SWE+CHE+TUR+GBR+USA+OECD.JE_LMIS+JE_EMPL+SC_SNTWS+ES_EDUA+CG_SENG+HS_LEB+SW_LIFS+PS_REPH+WL_EWLH.L.TOT/all?&dimensionAtObservation=allDimensions'

r= requests.get(url_1)
r

oecd = pandasdmx.Request('OECD')
oecd
ecb = pandasdmx.Request('ECB')
flow_msg = ecb.dataflow()

flow_msg = ecb.dataflow(force=True)

In [3]:
df = pd.read_csv('data/BLI_23022023084322834.csv')

In [4]:
df.isna().sum()

LOCATION                    0
Country                     0
INDICATOR                   0
Indicator                   0
MEASURE                     0
Measure                     0
INEQUALITY                  0
Inequality                  0
Unit Code                   0
Unit                        0
PowerCode Code              0
PowerCode                   0
Reference Period Code    1510
Reference Period         1510
Value                       0
Flag Codes               1510
Flags                    1510
dtype: int64

In [5]:
df.sample()

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
1475,LTU,Lithuania,ES_EDUA,Educational attainment,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,94.0,NaN,NaN

In [6]:
df.drop(columns= ['LOCATION','INDICATOR', 'MEASURE', 'INEQUALITY','Unit Code', 'Reference Period Code','Reference Period', 'Flag Codes', 'Flags'], inplace=True)

In [10]:
df = df.groupby(by= df['Country'])

In [11]:
df